.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-move infinite 0.211s normal;
    animation-direction: alternate;
  }
}

.App-header {
  background-color: #ff0000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(50px + 2vmin);
  color: white;
}

.App-link {
  color: #7fcbe2;
}

@keyframes App-logo-move {
  from {
    transform: translate(0px, -5px) rotate(1grad);
  }
  to {
    transform: translate(-3px, 5px) rotate(-1grad);
  }
}
